<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your todos</title>
<link rel="stylesheet" href="./static/css/todos.css">
</head>
<body>
 <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

{% for todo in user_todos %}
<div class="note">
            <h1> {{ todo["title"] }}</h1>
<a href={{url_for('full_todo_page',index=todo.title)}}>
More
</a>
<form method="POST" action="{{url_for('delete_todo',id=todo.id)}}">
{{del_form.hidden_tag()}}
    {{del_form.submit()}}

</form>
    </div>


    {% endfor %}

</body>
</html>