body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../tdl3.jpg');
      background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 15px;

}

.form-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:5px;

}
.login{

    grid-column: 1/span 2;
    justify-content:center;
    margin-right:40%;
    margin-left:40%;

}

