body, html {
    margin: 0;
    padding: 5%;
    font-family: Arial, sans-serif;
        background-image: url('../tdl.jpg');
      background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Style the form group */
.form-group {
    margin-bottom: 15px;
}

/* Style the form labels */
.form-label {
    font-size: 1.2em; /* Increase label font size */
    display: block;
    margin-bottom: 5px;
}

/* Style the form controls (inputs, textareas, etc.) */
.form-control {
    width: 100%; /* Make input full width */
    padding: 10px; /* Add padding */
    font-size: 1.2em; /* Increase font size */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Style the submit button */
.btn {
    padding: 10px 20px; /* Add padding */
    font-size: 1.2em; /* Increase font size */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor on hover */
    margin-left:50%;
    margin-right:50%;
}

/* Primary button specific styles */
.btn-primary {
    background-color: brown; /* Primary color */
    color: #fff; /* Text color */
}

/* Add hover effect for button */
.btn-primary:hover {
    background-color: #0056b3; /* Darker primary color */
}

.note{
background-color: rgba(128,128,128,0.5);
padding:10px;
margin-bottom:2%;
border-radius: 10px;
}
